name: "Tests"
on:
  push:
    branches:
      - main
      - master
  pull_request:

concurrency:
  group: ci-${{ github.ref }}-tests
  cancel-in-progress: true

jobs:
    build:
      runs-on: ubuntu-latest
      strategy:
        matrix:
          go: [ '1.23', '1.24', '1.25' ]
      name: Go ${{ matrix.go }} sample
      steps:
        - uses: actions/checkout@v4
        - name: Setup go
          uses: actions/setup-go@v5
          with:
            go-version: ${{ matrix.go }}
        - run: go get -v -t -d ./...
        - run: go test -v -race ./...
        - run: go run tests/consumer/consume.go tests/generator/compatibility.dat
